@font-face {
  font-family: a gobblin appears;
  src: url(../assets/agoblinappears.ttf);
}
* {
  font-family: "a gobblin appears";
  letter-spacing: 0.1ch;
}
button {
  all: initial;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  margin: 0.1rem;
  min-width: 150px;
  border-radius: 5px;
  background-color: #fffde7;
}

.card-wrapper {
  > h2 {
    font-size: smaller;
  }
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
